<tbody class="team">
    <tr>
        <td class="team__title">
            <div>
                <p class="team__name">{{teamName}}</p>
                <span class="team__lenth">
                    <img src="../../../assets//img/team-people.svg" alt="team-length-icon">
                    {{users.length}}
                </span>
                <span class="hide-arrow"><img src="../../../assets/img/hide-arrow.svg" alt="hide-icon"></span>
            </div>
        </td>
        <td class="weekday" *ngFor="let day of daysInMonth"> 

        </td>
    </tr>
</tbody>