.team{
    tr{
        border: 1px solid var(--day-border);
    }
    &__title{
        width: 263px;
        div{
            width: 100%;
            display: flex;
            align-items: center;
        }
        border-right: 1px solid var(--day-border);
        p{
            margin: 0;
        }
    }
    // &__member{
    //     width: 245px;
    //     height: 34px;
    //     border-right: 1px solid var(--day-color);
    //     p{
    //         margin: 0;
    //         padding: 0;
    //     }
    // }
}


.weekday{
    width: 34px;
    height: 34px;
    border-right: 1px solid var(--day-border);
}

// .team::before
// {
//     content: '';
//     display: block;
//     height: 40px;
// }

