.month-switcher{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    p{
        margin: 0 20px;
    }
}
.month-name{
    font-family: 'Yusei Magic';
    font-size: 14px;
}