thead{
    width: 100%;
    .first-col{
        border-bottom: 1px solid var(--day-border);
    }
}

.calendar__day{
    width: 34px;
    height: 64px;
    text-align: center;
    border: 1px solid var(--day-border);
    border-left: 0;
    border-bottom: 0px;
    span{
        display: block;
        margin-top: 2px;
        font-size: 14px;
        font-family: 'Yusei Magic';
    }
}

.title{
    border-right: 1px solid var(--day-border);
    button{
        width: 150px;
        height: 40px;
        border-radius: 6px;
        border: none;
        background-color: lightgreen;
        cursor: pointer;
        color: #fff;
        font-family: 'Yusei Magic';
        font-size: 14px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 13px;
            transform: translateY(-50%);
            display: block;
            width: 12px;
            height: 2px;
            background-color: #fff;
        }
        &::after{
            content: '';
            position: absolute;
            display: block;
            width: 2px;
            height: 12px;
            background-color: #fff;
            top: 50%;
            left: 18px;
            transform: translateY(-50%);
        }
        &:hover{
            transition: background-color .3s;
            background-color: darkgreen;
        }
    }
}



.weekday{
    width: 34px;
    height: 34px;
    border: 1px solid var(--day-border);
}