.container{
    width: 1300px;
    margin: 0 auto;
}

.btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    :focus{
        outline: none;
    }
    img{
        height: 15px;
    }
}

table td{
    padding: 0px;
    margin: 0px;
}

.title{
    width: 230px;
    div{
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.sum-column{
    background-color: var(--weekend-color);
    p{
        font-size: 14px;
        font-family: 'Yusei Magic';
    }
}

.weekend{
    background-color: var(--weekend-color);
    z-index: 1;
}

.weekday{
    width: 34px;
    height: 34px;
    border: 1px solid var(--day-border);
    border-left: 0px;
    position: relative;
    z-index: 1;
}

.vacation{
    &::after{
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        top: 2px;
        bottom: 2px;
        background-color: orange;
        border: 1px solid orange;
    }
}

.vacation-start{
    &::after{
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        left: 2px;
        top: 2px;
        bottom: 2px;
    }
}

.vacation-end{
    &::after{
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        right: 2px;
        top: 2px;
        bottom: 2px;
    }
}