.container{
    width: 1300px;
    margin: 0 auto;
}
.btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    :focus{
        outline: none;
    }
    img{
        height: 15px;
    }
}
