@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
:root {
    --main-color: rgb(126, 126, 126);
    --day-border: rgba(126, 126, 126, 0.3);
    --weekend-color: #DFF8EB;
    
}